@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #03203C;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 60px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background: #6ebebf;
}
.navigation ul li:nth-child(1){
    margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover{
    background: transparent;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fa{
    color: #ffffff;
    font-size: 24px;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 60px);
    left: 60px;
}
.main .topbar{
    width: 100%;
    background: #ffffff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    /* background: #6ebebf; */
    cursor: pointer;
}
.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}
.logo{
    padding: 5px;
    width: 60px;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: none;
    padding-left: 40px;
    border: 1px solid rgba(0,0,0,0.2);
}
.search label .fa{
    position: absolute;
    left: 15px;
    top: 4px;
}
.user{
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu{
    position: absolute;
    top: 80px;
    right: 10px;
    padding: 10px 20px;
    background: #ffffff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 16px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    transform: rotate(45deg);
}
.menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    line-height: 1.2em;
    color: #555;
}
.menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.menu ul li i{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.menu ul li:hover i{
    opacity: 1;
    color: #6ebebf;
}
.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.menu ul li:hover a{
    color: #6ebebf;
}